@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Bangers);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans);
h2 {
    font-family: 'Bangers', sans-serif;
    font-weight: normal;
}
    
.book .book-body {
  background-color: #eefbfb;
}
.book .book-body .page-wrapper .page-inner section.normal{
  background-color: #eefbfb;
}
